<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>New poll</h1>
    </div>
    <div class="col-sm-12">

      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group">

          <label>Title</label>
          <input type="text" name="title" class="form-control title" ng-model="poll.title" 
          required
          ng-minlength="3"/>

          <p class="help-block" ng-show="form.title.$error.required && submitted">
            A title is required
          </p>
          <p class="help-block" ng-show="form.title.$error.minlength && submitted">
            Title must be more than 3 characters long
          </p>

        </div>

        <div class="form-group">
          <label>Options</label>
          <div class="input-group option" ng-repeat="option in poll.options track by $index">

            <input type="text" class="form-control" placeholder="Option" ng-model="option.val" required>
            <span class="btn btn-danger input-group-addon" ng-click="deleteOption($index)">X</span>

          </div>
        </div>

        <div>
          <button class="btn btn-primary btn-sm" ng-click="addOption()">
            +
          </button>
        </div>

        <br/>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign up
          </button>
        </div>
        <br/>

        {{poll}}

      </form>

    </div>
  </div>
  <hr>
</div>
 
<div ng-include="'components/footer/footer.html'"></div>
