<footer class="footer" ng-controller="FooterCtrl">
  <div class="container">
    <a ng-mouseover="logoHover()" ng-mouseLeave="logoExit()" href="http://mylesgearon.com">
      <img class="footer-img mw-logo" src="assets/images/Feynman-Logo.svg" alt="mylesgearon.com"/>
    </a>

    | 

    <a id="github" class="animated" href="https://github.com/MityaDSCH/fcc-poll">
      <img class="footer-img" src="assets/images/github-logo.png" als="github"/>
    </a>

    <p id="name" class='animated fadeOutDown'>Myles Gearon</p>
  </div>
</footer> 