.footer {

    padding: 10px 0;

    background-color: white;
    border-top: 1px solid #E5E5E5;

    text-align: center;
    font-size: 17px;
    font-family: Lato, Garamond;
}

.footer-img {
    position: relative;
    background-color: white;
    height: 35px;
    &.mw-logo{
        border: 1px solid black;
        margin: 8px;
        transition: all 800ms ease-in-out;
    }
}

#github img{
    width: 122px;
    height: 90%;
}

#name {
    display: none;
    margin: 8px;
}